body {
  background-color: #fad4c6;
  overflow-x: auto;
  margin: 0;
  font-family: 'Asap Condensed', sans-serif;
  font-family: 'Courier Prime', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.parent-container {
  border: 1px solid red;
  width: 99.6vw;
  height: 99.8vh;
  overflow-x: hidden;
  background-image: url("./assets/background-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}